<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.dao.RecommendResultMapper" >
  <resultMap id="BaseResultMap" type="com.manager.bean.RecommendResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rating" property="rating" jdbcType="DOUBLE" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, rid, rating
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from recommendresult
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from recommendresult
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.manager.bean.RecommendResult" >
    insert into recommendresult (id, uid, rid, 
      rating)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, 
      #{rating,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.bean.RecommendResult" >
    insert into recommendresult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="rating != null" >
        rating,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.bean.RecommendResult" >
    update recommendresult
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.bean.RecommendResult" >
    update recommendresult
    set uid = #{uid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER},
      rating = #{rating,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
 <select id="selectMoviesByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from recommendresult where uid =#{id,jdbcType=INTEGER}
  </select>
  
</mapper>