body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
}
.banner{
    background-size: cover;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 99;
    left: 13%;
}
.top-banner-left{
	float:left;
	width:40%;
}
.top-banner-left ul{
	padding:0;
	margin:0;
}
.top-banner-left ul li{
	display:inline-block;
	color:#fff;
	font-size:.875em;
}
.top-banner-left ul li a{
    color: #fff;
    font-size: 1em;
}
.top-banner-left ul li:nth-child(2) {
    margin-left: 3em;
}
.top-banner {
    padding: .5em 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.23);
}
.top-banner-right{
	float:right;
}
.top-banner-right ul{
	padding:0;
	margin:0;
}
.top-banner-right ul li{
	display:inline-block;
	margin:0 1em;
}
.top-banner-right ul li:nth-child(4){
	margin-right:0;
}
.top-banner-right ul li a{
	color:#fff;
	font-size:1em;
}
.top-banner-right ul li a:hover{
	color:#fd5c63;
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
div#bs-example-navbar-collapse-1 {
	width: 800px;
    padding: 0;
}

.logo{
    float: left;
    margin: 1em 0 0 0;
}
.logo h1{
	margin:0;
}
.logo h1 a{
	color:#fff;
	font-size:1em;
	text-decoration:none;
	font-family: 'Pacifico', cursive;
}
/*-- top-nav --*/
.top-nav {
    margin: 2em 0 0 0;
	float: right;
	font-family: 'Pacifico', cursive;
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    margin: 0 1em;
    float: left;
}
.top-nav ul li:nth-child(6){
	margin-right:0;
}
ul.nav.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    border-right: solid 1px #EFEFEF;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
.top-nav ul li a{
    color: #fff !important;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    padding: 0;
}
.top-nav ul li a:hover{
    color: #fd5c63 !important;
}
.top-nav ul li a.active{
    color: #fd5c63 !important;
}
.caret {
    margin-left: 14px;
}
/*-- slider --*/
.slider {
    background: url(../images/slider/01.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 850px;
}
.slider1 {
    background: url(../images/slider/2.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.slider2 {
    background: url(../images/slider/3.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.slider-grid{
	width: 290px !important;
    top: 23%;
    position: absolute;
    height: 290px;
    margin: 3em auto 0;
    text-align: center;
    border: solid 2px #fff;
    padding: 5em 0 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
}
.slider-grid h3{
    color: #fff;
    font-size: 3em;
    margin: 0;
    font-family: 'Pacifico', cursive;
}
.slider-grid p{
    color: #fff;
    font-size: .875em;
    width: 84%;
    margin: 2em auto 0;
}
.copyright{
	margin:1em 0 0 0;
	text-align:center;
}
.copyright p{
	margin: 0;
    font-size: .875em;
    color: #BBBBBB;
}
.copyright p a{
	color: #BBBBBB;
}
.copyright p a:hover{
	color: #fd5c63;
}
/*-- //slider --*/

/*鏍囬*/
.lish{
	text-align: center;
	padding-bottom: 40px;
}
.lish h1{
	font-size:40px;
	font-family:  Constantia, Lucida Bright, DejaVu Serif, Georgia, serif"Times New Roman",Georgia,Serif;
}
.lish h2{
	padding-top:10px;
	font-size:30px;
	font-family: RalewayRaleway,Georgia,Serif;
}
/*鍩庡競璇︽儏椤�*/




/*-- footer --*/
.footer{
    padding:10em 0;
    background: #FFF;
}
.footer-grid-heading h4{
	color:#383838;
	font-size:2em;
	margin:0;
}
.footer-grid-info {
    margin: 1em 0 0 0;
}
.footer-grid-info  p{
	margin:0;
    font-size: .875em;
    color: #BBBBBB;
    line-height: 1.8em;
}
.footer-grid-info p span{
	display:block;
}
.footer-grid-info p span a{
    color: #BBBBBB;	
	text-decoration:none;
}
.footer-grid-info p span a:hover{
    color: #fd5c63;	
}
.footer-grid-info ul{
	padding:0;
	margin:0;
}
.footer-grid-info ul li{
	display:block;
}
.footer-grid-info ul li a{
    font-size: .875em;
    color: #BBBBBB;
    line-height: 1.8em;
	text-decoration:none;
}
.footer-grid-info ul li a:hover{
	color:#fd5c63;
}
.social-grid{
    margin: 1em 0 0 0;	
}
.social {
    margin: 1em 0 0 0;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #F44336;
}
.social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-twitter:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #F44336;
}
.social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-rss:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #F44336;
}
.social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
    background: #383838;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-vk:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	background: #F44336;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
.social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.footer-grid-info form input[type="email"] {
    background: #fff;
    box-shadow: none !important;
    padding: 10px 10px;
    color: #BBBBBB;
    font-size: .875em;
    width: 100% !important;
    font-weight: 400;
    border: 1px solid #BBBBBB;
    margin: 0 0 1em 0;
}
.footer-grid-info form input[type="email"]:focus {
    outline: none;
}
.footer-grid-info form input[type="submit"] {
    border: solid 2px #383838;
    color: #383838;
    font-size: .875em;
    padding: .5em 2em;
    text-decoration: none;
    background: none;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.footer-grid-info form input[type="submit"]:hover{
	color:#fd5c63;
	border:solid 2px #fd5c63;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.footer-img {
	margin-left: 75px;
	
}
.footer-wei {
	font-size: 15px;
	padding-top: 10px;
	text-align:center;
	
}
.footer-line{
	text-align: center;
	font-size: 15px;
	padding-bottom: 30px;
}
/*-- //footer --*/
